.button-top {
  background: transparentize($taupe, 0.9);
  border-radius: 0;
  bottom: 0;
  color: $marron;
  display: block;
  font-family: $ubuntu;
  font-size: 1.4rem;
  font-weight: $regular;
  left: 0;
  letter-spacing: 0.1rem;
  padding: 1.5rem 2rem;
  position: absolute;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease;
  width: 100%;

  &:hover,
  &:focus {
    background: transparentize($taupe, 0.85);
    color: $marron-fonce;
  }

  .icon {
    fill: $marron;
    height: 1.2rem;
    margin-right: 0.5rem;
    width: 1.2rem;
  }
}
