.cover {
  align-items: center;
  background: center center no-repeat;
  background-size: cover;
  color: $blanc;
  display: flex;
  position: relative;

  &::before {
    background-color: transparentize($bleu-nuit, 0.6);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &-title,
  &-subtitle,
  &-content {
    position: relative;
  }

  &-title {
    font-family: $ubuntu;
    font-weight: $bold;
    margin: 0;
  }

  &-subtitle {
    font-weight: $regular;
    margin-top: 0.5rem;

    a {
      border-bottom: 0.1rem solid $blanc;
      color: $blanc;
      text-decoration: none;
      transition: border 0.2s ease;

      &:hover,
      &:focus {
        border-bottom-color: transparent;
      }
    }
  }

  &-content {
    margin-top: 2rem;
  }

  &-search-box {
    margin-top: 1rem;
    position: relative;
  }

  @include small {
    flex-direction: column;
    justify-content: center;
    min-height: 16rem;
    text-align: center;

    > .layout-wrapper {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 3rem 2rem;
    }

    &-search-box {
      margin-top: 2rem;
      order: 3; // move the search box after the title and subtitle
    }

    &.tall {
      min-height: 23rem;
    }

    &-title {
      font-size: 2.2rem;
    }

    &-subtitle {
      font-size: 1.5rem;
      line-height: 1.5;
    }

    &-credits {
      display: none;
    }
  }

  @include large-and-medium {
    min-height: 27.5rem;

    &-search-box {
      float: right;
      width: 44rem;
    }

    &-search-box ~ &-title,
    &-search-box ~ &-subtitle,
    &-search-box ~ &-content {
      margin-right: 46rem;
    }

    &.tall {
      min-height: 37rem;
      min-height: 27vw;
    }

    &-title {
      font-size: 3.2rem;
    }

    &-subtitle {
      font-size: 1.8rem;
    }

    &-credits {
      bottom: 0;
      color: transparentize($gris-f0, 0.25);
      font-size: 1.2rem;
      padding: 1rem;
      position: absolute;
      right: 0;

      a {
        color: $gris-f0;
        text-decoration: none;
        &:hover {border-bottom: 0.1rem solid;}
      }
    }
  }
}
