.composant-outils {
  color: $gris33;
  margin: 4rem 0;

  &-items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-item {
    & + & {margin-top: 4rem;}

    &-icon {
      background-color: transparentize($marron, 0.8);
      border-radius: 0.4rem;
      float: left;
      height: 10rem;
      width: 10rem;
    }

    &-titre,
    &-description,
    &-lien {
      margin-left: 14rem;
    }

    &-titre {
      font-family: $ubuntu;
      font-size: 2rem;
      font-weight: $bold;
      margin-bottom: 1rem;
      margin-top: 0;
    }

    &-description {
      margin-bottom: 1rem;

      p {margin: 0;}
      b, strong {font-weight: $bold;}
    }

    &-lien a {
      color: $marron;
      font-family: $ubuntu;
      font-size: 1.3rem;
      font-weight: $medium;
      letter-spacing: 0.1rem;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

}
