.share {
  @include reset-list;

  &-item {
    display: inline-block;

    & + & {
      margin-left: 1rem;
    }

    > a {
      display: inline-block;
      transition: all 0.2s ease;

      &:hover, &:focus {
      }
    }

    .icon {
      height: 1.8rem;
      margin: 0;
    }
  }
}
