.block-list-projects {
  &-items {
    @include reset-list;
  }

  @include small {
    padding: 0;

    .card-project {
      height: auto;
      width: auto;
    }
  }

  @include large-and-medium {
    padding: 0;

    > .layout-wrapper {
      width: 121.2rem;
    }

    &-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .card-project {
      &::after {
        background: linear-gradient(to bottom, transparentize($blanc,1) 0%, transparentize($blanc,0) 100%);
        bottom: 0;
        content: "";
        display: block;
        height: 6rem;
        left: 0;
        pointer-events: none;
        position: absolute;
        width: 100%;
      }
    }
  }
}
