.block-list-projects {
	padding: 0;

	> .layout-wrapper {
		width: 121.2rem;
	}

  &-items {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
		justify-content: space-between;
  }

  &-item {
  }

}
