.block-list-projects {
  .card-project {
    &::after {
      background: linear-gradient(to bottom, transparentize($blanc, 1) 0%, transparentize($blanc, 0) 100%);
      bottom: 0;
      content: "";
      display: block;
      height: 6rem;
      left: 0;
      pointer-events: none;
      position: absolute;
      width: 100%;
    }
  }

  @include small {
    padding: 0 0 3rem;

    .card-project {
      height: 35rem;
      margin-right: 1rem;
      width: 100%;
    }

    .flickity-viewport {
      position: relative;
    }
  }

  @include large-and-medium {
    padding: 0;

    > .layout-wrapper {
      width: 121.2rem;
    }

    &-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
