.block-focus {

  > .component {
    margin: 0 auto 5rem;
    max-width: 100rem;
  }

  &-header {
    margin: 0 auto;
    max-width: 66rem;
    text-align: center;
  }

  &-title {
    color: $gris33;
    font-family: $ubuntu;
    font-size: 3.2rem;
    font-weight: $light;
    line-height: 3.6rem;
    margin: 0 0 2rem;
    text-align: center;

    .component + & {
      margin-top: 4rem;
    }
  }

	&-intro {
		font-size: 1.6rem;
		line-height: 2.6rem;
	}

  &-intro + .component-buttons {
    margin-top: 2rem;
  }

  &-header + &-content {
    margin-top: 7.5rem;
  }

  &-content {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 118rem;

    &-text {
      margin-left: 4rem;
      width: 40%;

      h3 {
        color: $gris23;
        font-family: $ubuntu;
        font-size: 2.6rem;
        font-weight: $bold;
        line-height: 3.3rem;
        margin-bottom: 1.5rem;

        &:first-child {
          margin-top: 1rem;
        }
      }

      .component-buttons {
        margin-top: 3.5rem;
      }
    }
  }

}
