.list-articles-item {
  color: $gris-33;
  line-height: 2.4rem;
  overflow: hidden;

  & + & {margin-top: 5rem;}

  .only-events & + & {
    border-top: 0.1rem solid $gris-dd;
    margin-top: 3rem;
    padding-top: 3rem;
  }

  &-image {
    background-color: $gris-f0;
    float: left;
    height: 16rem;
    margin-right: 2.5rem;
    width: 22rem;

    &,
    img {
      display: block;
    }
  }

  &-title {
    font-family: $ubuntu;
    font-weight: $medium;
    margin: 0 0 0.5rem;

    &,
    a {
      color: $gris-23;
    }

    a {
      text-decoration: none;
      transition: color 0.2s ease;

      &:hover {color: $turquoise-fonce;}
      .list-articles-item.is-event &:hover {color: darken($orange, 30%);}
    }
  }

  &-text {
    margin-left: 24.5rem;

    .list-articles-item.is-event & {
      margin-left: 10.5rem;
    }
  }

  &-meta {
    color: $taupe;
    fill: $taupe;
    font-size: 1.2rem;
    font-weight: $regular;
    line-height: 2.2rem;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
    white-space: nowrap;

    .icon {
      height: 1.5rem;
      margin-right: 0.5rem;
      vertical-align: middle;
      width: 1.5rem;
    }

    &::after {
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      content: "";
      display: block;
      height: 2.2rem;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 2.2rem;
    }
  }

  &-place {
    color: $orange;
    display: inline-block;
    fill: $orange;
    margin-right: 1.5rem;
  }

  &-date {
    cursor: help;
  }

  &-author a {
    color: $taupe;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $marron-fonce;
      text-decoration: underline;
    }
  }

  .categories-labels {
    margin-left: 1rem;
  }

  p {
    margin: 1rem 0 0;
  }

  @include small {
    &-title {
      font-size: 1.5rem;
    }
  }

  @include large-and-medium {
    &-title {
      font-size: 1.9rem;
    }
  }
}
