.meta-news {
  color: $taupe;
  font-size: 1.2rem;
  line-height: 1.6rem;

  &-item {
    border-top: 0.1rem solid $gris-dd;
    padding: 1.5rem 0;
    position: relative;

    .button + & {
      margin-top: 2rem; // pour aligner sur breadcrumbs
    }

    > .icon {
      top: 50%;
      transform: translateY(-50%);
    }

    .icon {
      fill: $taupe;
      margin-right: 1rem;
      position: absolute;
      vertical-align: top;

      + * {
        display: block;
        margin-left: 2.6rem;
      }
    }
  }

  &-place {
    color: $orange;
    .icon {fill: $orange;}
  }

  &-job-loc {
    color: $taupe;
    .icon {fill: $taupe;}
  }

  &-date {
    time {cursor: help;}
  }

  &-author a {
    color: $taupe;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $marron-fonce;
      text-decoration: underline;
    }
  }

  &-categories {
    .icon {vertical-align: middle;}
  }

  &-share {
    .icon {
      position: static;
    }

    .share-item > a {
      align-items: center;
      background-color: transparentize($taupe, 0.8);
      border-radius: 50%;
      display: inline-flex;
      fill: $marron;
      height: 3.4rem;
      justify-content: center;
      width: 3.4rem;

      &:hover,
      &:focus {
        background-color: transparentize($taupe, 0.6);
        fill: $gris-33;
      }
    }
  }

}
