#membership-request-panel {
  color: $gris-23;
  padding-top: 2rem;

  form {
    h2.bp-screen-reader-text {
      font-size: 2.5rem;
      font-family: $ubuntu;
      font-weight: $regular;
      height: auto;
      margin-top: 1.1rem;
      padding: 0;
      position: relative;
      width: auto;
    }

    label {
      color: $gris-60;
      display: block;
      font-size: 1.5rem;
      margin-bottom: 0.4rem;
      margin-top: 2rem;
    }

    input[type="text"], textarea {
      border: solid $gris-dd 0.1rem;
      border-radius: 0.3rem;
      padding: 1rem;
      width: 100%;
    }

    input[type="submit"] {
      border: none;
      border-radius: 0.2rem;
      cursor: pointer;
    }
  }
}
