.button {
  background-color: $green-button;
  border-radius: 0.2rem;
  color: $blanc;
  display: inline-block;
  font-family: $ubuntu;
  font-size: 1.3rem;
  font-weight: $medium;
  letter-spacing: 0.1rem;
  padding: 1.5rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background 0.2s ease;

  &:hover, &:focus {
    background-color: lighten($green-button, 8%);
  }

  & + & {
    margin-left: 2rem;
  }

  &.orange {
    background-color: $orange;

    &:hover, &:focus {
      background-color: lighten($orange, 8%);
    }
  }

  &.block {
    display: block;
  }

  &.link {
    background-color: transparent;
    border-radius: 0;
    color: $vert-fonce;
    padding: 0;

    & + & {
      margin-left: 3rem;
    }

    &:after {
      content: ">";
      display: inline-block;
      margin-left: 0.5rem;
    }

    &:hover, &:focus {
      background-color: transparent;
      color: lighten($vert-fonce, 8%);
    }

    &.orange {
      color: $orange;

      &:hover, &:focus {
        color: lighten($orange, 8%);
      }
    }
  }
}
