.button {
	background-color: $vert-bouton;
	border-radius: 0.2rem;
	border: 0 none;
	cursor: pointer;
	color: $blanc;
	display: inline-block;
	font-family: $ubuntu;
	font-size: 1.3rem;
	font-weight: $medium;
	letter-spacing: 0.1rem;
	line-height: 1.5rem;
	padding: 1.25rem 2rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: background 0.2s ease;

	&:hover,
	&:focus {
		background-color: lighten($vert-bouton, 8%);
	}

	& + & {
		margin-left: 2rem;
	}

	&.orange {
		background-color: $orange;

		&:hover,
		&:focus {
			background-color: lighten($orange, 8%);
		}
	}

	&.rouge {
		background-color: $rouge;

		&:hover,
		&:focus {
			background-color: lighten($rouge, 8%);
		}
	}

	&.white {
		background-color: $blanc;
		color: $vert-fonce;

		&:hover,
		&:focus {
			background-color: $grisF0;
		}
	}

	&.block {
		display: block;
	}

	&.outline {
		background: transparent;
		border: 0.2rem solid;
		font-weight: $regular;
		padding: 1.3rem 1.8rem;
		transition: opacity 0.2s ease;

		&:hover, &:focus {
			opacity: 0.7;
		}
	}

	&.link {
		background-color: transparent;
		border-radius: 0;
		color: $vert-fonce;
		padding: 0;

		> .icon {
			height: 1.4rem;
		}

		& + & {
			margin-left: 3rem;
		}

		&:after {
			content: ">";
			display: inline-block;
			margin-left: 0.5rem;
		}

		&:hover, &:focus {
			background-color: transparent;
			color: lighten($vert-fonce, 8%);
		}

		&.orange {
			color: $orange;

			&:hover, &:focus {
				color: lighten($orange, 8%);
			}
		}

		&.rouge {
			color: $rouge;

			&:hover, &:focus {
				color: lighten($rouge, 8%);
			}
		}

		&.white {
			color: $blanc;

			&:hover, &:focus {
				opacity: 0.7;
			}
		}

		&.back {
			&:after {display: none;}
		}
	}

	> .icon {
		fill: currentColor;
		vertical-align: sub;
	}

	&-text {
		display: inline-block;

		.icon + &,
		& + .icon {
			margin-left: 1rem;
		}
	}
}
