{
  "extends": "stylelint-config-standard",
  "ignoreFiles": [
    "dist/*"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "at-rule-empty-line-before": null,
    "declaration-empty-line-before": "never",
    "selector-pseudo-element-colon-notation": "single",
    "order/order": [
      "declarations",
      "rules"
    ],
    "order/properties-alphabetical-order": true
  }
}
