.component-tools {
  color: $gris33;
  margin: 4rem 0;
  line-height: 2.4rem;

  &-items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-item {
    & + & {margin-top: 4rem;}

    &-icon {
      align-items: center;
      background-color: transparentize($marron, 0.8);
      border-radius: 0.4rem;
      display: flex;
      float: left;
      justify-content: center;
      height: 10rem;
      width: 10rem;

      > * {
        height: 6rem;
        width: 6rem;
      }
    }

    &-title,
    &-description,
    &-link {
      margin-left: 14rem;
    }

    &-title {
      font-family: $ubuntu;
      font-size: 2rem;
      font-weight: $bold;
      margin-bottom: 1rem;
      margin-top: 0;

      a {
        color: $gris23;
        text-decoration: none;
      }
    }

    &-description {
      margin-bottom: 1rem;

      p {margin: 0;}
      b, strong {font-weight: $bold;}
    }

    &-link a {
      color: $marron;
      font-family: $ubuntu;
      font-size: 1.3rem;
      font-weight: $medium;
      letter-spacing: 0.1rem;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

}
