.block {
  padding: 7.5rem 5rem;
}

@import "contribute/style";
@import "focus/style";
@import "list-features/style";
@import "list-projects/style";
@import "main-features/style";
@import "maps/style";
@import "mosaic/style";
