.map-events {

  &-map {
    background-color: $turquoise-clair;
    display: block;
    padding: 1rem;
    text-align: center;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: lighten($turquoise-clair, 5);
    }
  }

  &-button {
    padding: 2rem;
  }
}
