.error {
	margin: 10rem 5rem;
	text-align: center;

	&-logo {
		position: absolute;
		left: 2.5rem;
		top: 2rem;
		width: 15rem;
	}

	&-title {
		color: $gris60;
		font-family: $ubuntu;
		font-size: 3.6rem;
		font-weight: $light;
	}

	&-text {
		color: $gris33;
		margin: 0 auto 4rem;
		max-width: 62rem;
		line-height: 1.5;
	}
}
