.footer {
  border-top: 1rem solid transparentize($taupe, 0.8);

  &-about {
    line-height: 1.7;
  }

  &-about-tela {
    max-width: 45rem;

    a {
      color: $vert-fonce;
      font-family: $ubuntu;
      font-weight: $medium;
      text-decoration: none;
      transition: color 0.2s ease;
      &:hover {color: $gris-33;}
    }
  }

  &-about-tela-logo {
    color: $taupe;
    font-family: $ubuntu;
    font-weight: $bold;
    font-size: 2rem;
    margin-bottom: 1rem;

    img {width: 20rem;}
  }

  &-about-tela-details {
    &-mail {
      margin-top: 0.5rem;
    }
  }

  &-about-tela-social {
    font-size: 0; // cache les espaces entre éléments dans le code HTML

    &-items {
      border-top: 0.1rem solid transparentize($taupe, 0.8);
      list-style: none;
      margin: 1.8rem 0 0;
      padding: 1.8rem  0 0;
    }

    &-item {
      &, a {
        display: inline-block;
      }

      & + & {margin-left: 2.5rem;}

      a {
        font-size: 1.3rem;

        &:hover .icon {
          fill: $orange;
        }
      }

      .icon {
        fill: $vert-clair;
        display: inline-block;
        height: 3.2rem;
        transition: fill 0.2s ease;
        vertical-align: middle;
        width: 3.2rem;
      }
    }
  }

  &-nav-toggle {
    display: none;
  }

  &-nav {
    background-color: transparentize($gris-f0, 0.5);
    padding: 3.5rem 0;
    margin: 0 auto;
  }

  &-nav-items {
    font-size: 1.4rem;
    line-height: 2;
    list-style: none;
    padding: 0;

    a {
      border-bottom: 0.1rem solid transparent;
      text-decoration: none;
      transition: border 0.2s ease;
      &:hover {border-bottom: 0.1rem solid;}
    }

    > .menu-item {
      & + .menu-item {
        margin-top: 2rem;
      }

      > a {
        color: $vert-fonce;
        font-size: 1.2rem;
        font-weight: $medium;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        height: 100%;
        min-width: 17rem;
        position: relative;
      }
    }

    .sub-menu {
      list-style: none;
      padding: 0;

      a {
        color: $gris-33;
      }

      .menu-item-more {
        color: $vert-fonce;
        fill: $vert-fonce;
        white-space: nowrap;

        a {color: inherit;}

        .icon {
          height: 1rem;
          margin-left: 0.6rem;
          vertical-align: middle;
          width: 1rem;
        }
      }
    }
  }

  &-nav-bar {
    background-color: $gris-33;
    letter-spacing: 0.1rem;
    padding: 0 0.5rem;
    position: relative;

    &-items {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;

      .menu-item {
        display: inline-block;
      }
    }

    a {
      color: $gris-b3;
      fill: $gris-b3;
      padding: 0 1rem;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 0.2s ease, fill 0.2s ease;

      &:hover {
        color: $gris-f0;
        fill: $gris-f0;
      }
    }
  }

  &-nav-license {
    background-color: transparentize($taupe, 0.8);
    border-radius: 0.2rem;
    line-height: 3rem;

    .icon {
      margin-right: 0.2rem;
      vertical-align: text-top;
    }
  }

  @include small {
    &-about {
      font-size: 1.3rem;
      padding: 2rem 0;

      .newsletter {
        display: none;
      }
    }

    &-about-tela {
      text-align: center;
    }

    &-about-tela-social-item {
      span {display: none;}
    }

    &-nav-toggle {
      display: block;
      margin: 0 2rem 2rem;
    }

    &-nav {
      display: none;
    }

    &-nav-items {
      > .menu-item + .menu-item {
        border-top: 0.1rem solid transparentize($taupe, 0.8);
        padding-top: 1rem;
      }
    }

    &-nav-bar {
      font-size: 1rem;
      line-height: 3;
      padding: 1rem 0.5rem;
      text-align: center;
    }

    &-nav-license {
      margin: 0.5rem auto;
    }
  }

  @include large-and-medium {
    &-about {
      font-size: 1.4rem;
      padding: 4rem 0;

      .newsletter {
        max-width: 48rem;
      }
    }

    &-about-tela-social-item {
      .icon {
        margin-right: 0.5rem;
      }
    }

    &-nav-items {
      align-content: space-between;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 36.5rem;

      > .menu-item {
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {margin-top: 0;}
      }

      .sub-menu {
        .menu-item-more {
          bottom: 0;
          position: absolute;
        }
      }
    }

    &-nav-bar {
      font-size: 1.1rem;
      line-height: 4;

      &-items {
        .menu-item {margin: 0 1rem;}
      }

      a {
        display: block;
      }
    }

    &-nav-license {
      margin: 0.5rem;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
