.newsletter {
  background-color: $grisF0;
  border-radius: 0.2rem;
  padding: 2.5rem 3rem;

  &-title {
    color: $gris23;
    font-family: $ubuntu;
    font-size: 1.8rem;
    font-weight: $bold;
  }

  &-text {
    color: $gris33;
  }
}
