.cover-home {
  background: center center no-repeat;
  background-size: cover;
  color: $blanc;
  min-height: 42rem;
  padding: 5rem 0;
  position: relative;

  &:before {
    background-color: transparentize($bleu-nuit, 0.6);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  > .layout-wrapper {
    align-items: center;
    display: flex;
    height: 32rem;
    justify-content: space-between;
    position: relative;
  }

  &-title {
    font-family: $ubuntu;
    font-size: 3.2rem;
    font-weight: $bold;
    margin: 0;
  }

  &-link {
    font-weight: $regular;
    font-size: 1.8rem;
    margin-top: 0.5rem;

    a {
      border-bottom: 0.1rem solid $blanc;
      color: $blanc;
      text-decoration: none;
      transition: border 0.2s ease;

      &:hover, &:focus {
        border-bottom-color: transparent;
      }
    }
  }

  &-content {
    flex-grow: 1;
    margin-right: 5rem;

    > .search-box {
      margin-top: 2.5rem;
    }
  }

  &-stats {
    @include reset-list;
    font-family: $ubuntu;
    font-size: 1.2rem;
    font-weight: $medium;
    letter-spacing: 0.1rem;
    height: 32rem;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    width: 40%;

    a {
      color: $blanc;
      text-decoration: none;

      &:hover, &:focus {
      }
    }

    &-icon {
      align-items: center;
      border-radius: 50%;
      display: flex;
      height: 6.6rem;
      justify-content: center;
      margin: 0 auto 0.5rem;
      width: 6.6rem;

      > svg {
        height: 2rem;
        width: 2rem;
      }
    }

    var {
      display: block;
      font-size: 2.6rem;
      font-style: normal;
      font-weight: $bold;
      letter-spacing: 0;
      white-space: nowrap;
    }

    &-item {
      position: absolute;

      > a {
        display: block;
      }

      &-users {
        top: 10%;
        left: 0;

        .cover-home-stats-icon {
          background-color: $orange-clair;
          fill: $orange;
        }
      }

      &-observations {
        top: 0;
        right: 0;

        .cover-home-stats-icon {
          background-color: $vert-archi-clair;
          fill: $vert-clair;
        }
      }

      &-get-involved {
        bottom: 0;
        left: 30%;

        .cover-home-stats-icon {
          background-color: $turquoise-clair;
          fill: $turquoise;
        }
      }
    }
  }

  &-credits {
    color: transparentize($grisF0, 0.25);
    font-size: 1.2rem;
    bottom: 0;
    padding: 1rem;
    position: absolute;
    right: 0;

    a {
      color: $grisF0;
      text-decoration: none;
      &:hover {border-bottom: 0.1rem solid;}
    }
  }
}
