#field-visibility-settings-toggle-, #field-visibility-settings- {
	display: none;
}

.field_ville, .field_espece-dinteret {
	.aa-suggestion {
		padding: 1rem;
		cursor: pointer;
		font-size: 1.4rem;

		&:hover {
			background-color: $grisF0;
		}

		> p {
			margin: 0;
		}
	}
}

#profile-edit-form {
	> h2 {
		display: none;
	}
}