@import "_variables";

$header-breakpoint-small: 1200px;
$header-breakpoint-large: 1330px;

.header {
  position: relative;
  z-index: 1500;

  &-fixed,
  &-container {
    font-family: $ubuntu;
    font-weight: $medium;
  }

  &-fixed {
    box-shadow: 0 0.1rem 0.2rem 0 transparentize($noir, 0.9);
    font-size: 0; // cache les espaces entre éléments dans le code HTML
    height: $header-height-fixed;
    position: fixed;
    width: 100%;
    z-index: 101;
  }

  &-container {
    z-index: 100;
  }

  &-logo {
    float: left;
    font-family: $ubuntu;
    font-size: 2rem;
    font-weight: $bold;
    margin: 0;
    margin-right: 3rem;

    > a {
      background-color: $vert-clair;
      align-items: center;
      color: $blanc;
      display: flex;
      height: $header-height-fixed;
      justify-content: center;
      text-decoration: none;
      transition: background 0.2s ease;

      &:hover,
      &:focus {
        background-color: $vert-clair-vif;
      }
    }

    img {
      margin-bottom: 0.5rem;
      width: 14rem;
    }

    body.bp-user & {
      width: 26rem;

      > a {
        justify-content: flex-start;
        padding-left: 3rem;
      }
    }
  }

  &-nav-items,
  .sub-menu,
  &-nav-usecases-items,
  &-links {
    @include reset-list;
  }

  &-nav-items,
  &-submenu-container .sub-menu {
    a {
      display: block;
      text-decoration: none;
    }

    > .menu-item {
      > a {
        padding: 0 1rem;

        &.is-open,
        &:hover,
        &:focus {
          background-color: $beige;
          color: $noir;
        }
      }

      &.current-menu-item > a {
        color: $noir;
      }
    }
  }

  &-nav-items {
    > .menu-item {
      > a {
        color: $gris-60;
        text-transform: uppercase;
      }
    }
  }

  .sub-menu {
    font-size: 1.5rem;
    letter-spacing: 0;

    > .menu-item {
      &.is-contribution a {
        color: $vert-fonce;
        fill: $vert-fonce;
        font-family: $ubuntu;
        font-size: 1.1rem;
        font-weight: $medium;
        letter-spacing: 0.1rem;
        text-transform: uppercase;

        .icon {
          margin-right: 0.8rem;
          vertical-align: bottom;
        }
      }
    }

    > .menu-item + .menu-item {
      border-top: 0.1rem solid transparentize($taupe, 0.8);
    }

    > .menu-item-description {
      color: $gris-60;
      font-family: $muli;
      font-size: 1.3rem;
      font-weight: $light;
      line-height: 1.6;
      padding-bottom: 0.9rem;
      padding-left: 2.9rem;
      padding-right: 1.5rem;
      padding-top: 2rem;
      position: relative;

      .icon {
        fill: $gris-99;
        height: 1.8rem;
        left: 0.4rem;
        position: absolute;
        top: 2.2rem;
        width: 1.8rem;
      }
    }

    a {
      color: $gris-33;
      font-family: $muli;

      &:hover,
      &:focus {
        background-color: $beige;
        color: $noir;
      }

      &:focus {
        outline: 0.2rem solid $vert-clair;
      }
    }
  }

  &-nav-usecases-items {
    a {
      color: $gris-33;
      display: flex;
      font-family: $ubuntu;
      font-weight: $regular;
      text-decoration: none;
    }

    .menu-item {
      &.identifier {
        a {background-image: url("../../modules/header/icons/identifier.svg");}
        &.current_page_item a,
        a:hover,
        a:focus {color: $vert-fonce;}
      }

      &.apprendre {
        a {background-image: url("../../modules/header/icons/apprendre.svg");}
        &.current_page_item a,
        a:hover,
        a:focus {color: $violet;}
      }

      &.sortir {
        a {background-image: url("../../modules/header/icons/sortir.svg");}
        &.current_page_item a,
        a:hover,
        a:focus {color: $orange;}
      }

      &.participer {
        a {background-image: url("../../modules/header/icons/participer.svg");}
        &.current_page_item a,
        a:hover,
        a:focus {color: $turquoise-fonce;}
      }
    }
  }

  &-links-item-user-avatar {
    background: center center no-repeat;
    background-size: cover;
    border-radius: 50%;
  }

  // mobile / tablets
  @media (max-width: $header-breakpoint-small - 0.1px) {
    @at-root body {
      &::before {
        background-color: transparentize($noir, 0.7);
        content: "";
        display: block;
        height: 0;
        opacity: 0;
        position: fixed;
        right: 0;
        top: 0;
        transition: opacity 0.3s ease-out;
        width: 100%;
        z-index: 99;
      }
    }

    @at-root body.has-nav-open {
      overflow: hidden;

      &::before {
        height: 100%;
        opacity: 1;
      }
    }

    height: $header-height-fixed;

    &-fixed {
      background-color: $vert-clair;
    }

    // &-container,
    &-submenu-container,
    &-links,
    &-nav,
    &-nav .sub-menu,
    &-nav-usecases {
      display: none;
    }

    &.is-open {
      // .header-container,
      .header-submenu-container,
      .header-nav,
      .header-nav-usecases {
        display: block;
      }

      .header-container {
        transform: translateX(0);
      }

      .header-links {
        display: flex;
      }
    }

    &-container {
      box-shadow: -0.1rem 0 0.4rem 0 transparentize($noir, 0.7);
    }

    &-container,
    &-submenu-container {
      background-color: $blanc;
      bottom: 0;
      max-width: 36rem;
      overflow: auto;
      position: fixed;
      right: 0;
      top: $header-height-fixed;
      transform: translateX(100%);
      transition: transform 0.5s ease;
      width: 100%;
    }

    &-submenu-container {
      z-index: 200;
    }

    &-submenu-back {
      align-items: center;
      background: none;
      border: 0;
      border-bottom: 0.1rem solid transparentize($taupe, 0.8);
      color: $vert-fonce;
      display: flex;
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      margin: 0 2rem;
      padding: 2rem 0;
      text-transform: uppercase;
      width: calc(100% - 4rem);

      .icon {
        fill: $vert-fonce;
        height: 1.4rem;
        margin-right: 1rem;
        width: 1.4rem;
      }
    }

    &-logo {
      width: 16rem;
    }

    &-toggle {
      align-items: center;
      background: transparent;
      border: 0;
      color: $blanc;
      display: inline-flex;
      font-size: 1.2rem;
      padding: 1rem;
      position: absolute;
      right: 0;
      top: 0.5rem;

      .icon {
        fill: $blanc;
        height: 2.6rem;
        margin-left: 0.5rem;
        width: 2.6rem;
      }

      &.is-hidden {
        display: none;
      }
    }

    &.has-submenu-open {
      .header-submenu-container {
        transform: translateX(0);
      }
    }

    .search-box {
      margin: 1rem 2rem;

      .search-box-button {
        background-color: $blanc;
        color: $vert-clair;
        fill: $vert-clair;

        .icon {
          height: 2rem;
          width: 2rem;
        }
      }

      &.is-open .search-box-input {
        background-color: $blanc;
        padding-left: 0;
        width: 100%;
      }
    }

    &-nav {
      border-top: 0.4rem solid transparentize($taupe, 0.8);
    }

    &-nav-items {
      letter-spacing: 0.1rem;
    }

    &-nav-items,
    &-submenu-container .sub-menu {
      margin: 0 2rem;

      > .menu-item > a {
        padding: 1.4rem 0 1.6rem;
      }
    }

    &-nav-usecases {
      background-color: $beige;
      border-bottom: 0.2rem solid transparentize($taupe, 0.8);
      border-top: 0.2rem solid transparentize($taupe, 0.8);
      padding: 2rem;
    }

    &-nav-usecases-items {
      .menu-item {
        a {
          background: transparent center left no-repeat;
          background-size: 4.6rem;
          padding: 1.5rem 0;
          padding-left: 6rem;
        }
      }

      .menu-item + .menu-item {
        margin-top: 1rem;
      }
    }

    &-links {
      flex-direction: column-reverse;
      font-family: $muli;
      font-size: 1.3rem;
      font-weight: $regular;
      margin: 2rem 2.5rem 0;

      a {
        color: $gris-33;
        text-decoration: none;
      }
    }

    &-links-item-donate {
      a {
        align-items: center;
        color: $vert-fonce;
        display: inline-flex;

        &:hover,
        &:focus {
          color: $gris-33;

          .icon {
            fill: $orange;
          }
        }

        .icon {
          margin-right: 0.5rem;
        }
      }
    }

    &-links-item-login,
    &-links-item-user {
      margin-top: 2rem;

      a {
        display: block;
        margin-left: -2.5rem;
        padding: 1.5rem;
        width: calc(100% + 5rem);
      }
    }

    &-links-item-login {
      a {
        background-color: $vert-clair;
        color: $blanc;
        text-align: center;
        text-transform: uppercase;
      }
    }

    &-links-item-user {
      a {
        background-color: $gris-f0;
      }

      .header-links-item-text {
        align-items: center;
        color: $gris-33;
        display: flex;
        flex-direction: column-reverse;
      }
    }

    &-links-item-user-avatar {
      display: inline-block;
      height: 4.2rem;
      margin-bottom: 0.5rem;
      width: 4.2rem;
    }
  }

  // desktop
  @media (min-width: $header-breakpoint-small) {
    background-color: $beige;
    height: $header-height;

    &.is-small {
      height: $header-height-fixed;
    }

    &-fixed {
      background-color: $blanc;
      letter-spacing: 0.1rem;
    }

    &-logo {
      width: 19rem;
    }

    &-container,
    &-submenu-container,
    &-toggle {
      display: none;
    }

    &-links {
      padding: 0 1.4rem 0 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &-links-item {
      display: inline-block;
      height: $header-height-fixed;
      vertical-align: top;

      a {
        align-items: center;
        color: $gris-b3;
        display: flex;
        font-size: 1.2rem;
        height: $header-height-fixed;
        padding-left: 1rem;
        text-decoration: none;
        transition: color 0.2s ease;

        &:hover {
          color: $gris-33;
        }
      }
    }

    &-links-item-text {
      border-right: 0.1rem solid $gris-f0;
      display: inline-block;
      height: 2.3rem;
      line-height: 2.3rem;
      padding-right: 1rem;
    }

    &-links-item-user a {
      color: $vert-fonce;
    }

    &-links-item-user-name {
      display: none;
    }

    &-links-item-user-avatar {
      display: inline-block;
      height: 2.2rem;
      margin-left: 0.5rem;
      vertical-align: middle;
      width: 2.2rem;
    }

    &-links-item-login a {
      color: $vert-clair;
      text-transform: uppercase;
    }

    &-links-item-donate a {
      font-weight: $light;
      letter-spacing: 0;

      .icon {display: none;}
    }

    &-links-item-search {
      align-items: center;
      display: inline-flex;
      padding-left: 1rem;
    }

    &-nav-items {
      > .menu-item {
        display: inline-block;
        margin-right: 1rem;
        vertical-align: top;

        > a {
          border-bottom: 0.4rem solid transparent;
          border-top: 0.4rem solid transparent;
          font-size: 1.2rem;
          line-height: $header-height-fixed - 0.8rem;
          position: relative;

          &.is-open,
          &:hover,
          &:focus {
            border-bottom-color: $vert-clair;
          }

          &:focus {
            outline: none;
          }
        }

        &.current-menu-item > a {
          border-bottom-color: $vert-clair;
        }
      }

      .sub-menu {
        background-color: $blanc;
        box-shadow: 0 0.2rem 0.2rem 0 transparentize($noir, 0.85);
        display: none;
        padding: 1rem;
        position: absolute;
        transform: translateX(-2.5rem);
        width: 24rem;

        &.is-open {
          display: block;
        }

        > .menu-item {
          &.is-contribution a {
            padding-bottom: 1rem;
            padding-top: 1rem;
          }
        }

        > .menu-item-description {
          padding-left: 3.9rem;

          .icon {
            left: 1.4rem;
          }
        }

        a {
          line-height: 1.4;
          padding: 0.6rem 1.5rem 0.9rem;
        }
      }
    }

    &-nav-usecases {
      font-size: 0; // cache les espaces entre éléments dans le code HTML
      padding-top: $header-height-fixed;
      margin: 0 auto;
      width: 100rem;
    }

    &-nav-usecases-items {
      padding: 1.9rem 0;
      text-align: center;

      .menu-item {
        display: inline-block;
        overflow: hidden;
        position: relative;
        width: 25%;

        &:first-child a {
          border-left: 0.1rem solid transparentize($taupe, 0.8);
        }

        &::before {
          border-radius: 50%;
          content: "";
          display: block;
          height: 0;
          left: 50%;
          opacity: 0.8;
          position: absolute;
          top: 30%;
          transform: translate3d(-50%, -50%, 0);
          width: 0;
          z-index: 0;
        }

        &:hover {
          &::before {
            height: 30rem;
            opacity: 0;
            transition: opacity 0.8s ease, height 0.8s ease, width 0.8s ease;
            width: 30rem;
          }
        }

        a {
          align-items: flex-end;
          background: transparent top center no-repeat;
          background-size: 4.6rem;
          border-right: 0.1rem solid transparentize($taupe, 0.8);
          font-size: 1.5rem;
          height: 7.2rem;
          justify-content: center;
          padding: 0 4rem;
          position: relative;
          transition: color 0.2s ease;
        }

        &.identifier::before {background-color: $vert-tres-clair;}

        &.apprendre::before {background-color: $violet-clair;}

        &.sortir::before {background-color: $orange-clair;}

        &.participer::before {background-color: $bleu-clair;}
      }
    }
  }

  // desktop (large screens)
  @media (min-width: $header-breakpoint-large) {
    &-logo {
      margin-right: 6rem;
    }

    &-nav-items {
      > .menu-item {
        margin-right: 2rem;
      }
    }

    &-links-item-user-name {
      display: inline-block;
      max-width: 10rem;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: nowrap;
    }
  }
}
