.header {
  $height: 17rem;
  $height-fixed: 5.5rem;

  background-color: $beige;
  height: $height;

  &.is-small {
    height: $height-fixed;
  }

  &-fixed {
    background-color: $blanc;
    font-family: $ubuntu;
    font-size: 0; // cache les espaces entre éléments dans le code HTML
    font-weight: $medium;
    height: $height-fixed;
    letter-spacing: 0.1rem;
    position: fixed;
    width: 100%;
    z-index: 100;
  }

  &-logo {
    float: left;
    font-family: $ubuntu;
    font-size: 2rem;
    font-weight: $bold;
    margin: 0 6rem 0 0;
    width: 19rem;

    > a {
      background-color: $vert-clair;
      align-items: center;
      color: $blanc;
      display: flex;
      height: $height-fixed;
      justify-content: center;
      text-decoration: none;
      transition: background 0.2s ease;

      &:hover, &:focus {
        background-color: $vert-clair-vif;
      }
    }

    img {
      margin-bottom: 0.5rem;
      width: 14rem;
    }
  }

  &-nav {
    text-transform: uppercase;

    &-items {
      list-style: none;
      margin: 0;
      padding: 0;

      .menu-item {
        display: inline-block;
        margin-right: 2rem;
      }

      a {
        color: $gris60;
        display: block;
        font-size: 1.2rem;
        line-height: $height-fixed;
        position: relative;
        padding: 0 1rem;
        text-decoration: none;

        &:hover {
          background-color: $beige;
          color: $noir;
        }
      }

      .current-menu-item a:after {
          border-bottom: 0.4rem solid $vert-clair;
          bottom: 0;
          content: '';
          display: block;
          left: 0;
          position: absolute;
          width: 100%;
      }
    }
  }

  &-links {
    list-style: none;
    margin: 0;
    padding: 0 1.4rem 0 0;
    position: absolute;
    right: 0;
    top: 0;

    &-item {
      display: inline-block;

      a {
        align-items: center;
        color: $grisB3;
        display: flex;
        font-size: 1.2rem;
        height: $height-fixed;
        padding-left: 1rem;
        text-decoration: none;
        transition: color 0.2s ease;

        &:hover {
          color: $gris33;
        }
      }

      &-text {
        border-right: 0.1rem solid $grisF0;
        display: inline-block;
        height: 2.3rem;
        line-height: 2.3rem;
        padding-right: 1rem;
      }

      &-user {
        &-avatar {
          border-radius: 50%;
          display: inline-block;
          height: 2.2rem;
          margin-left: 0.5rem;
          vertical-align: middle;
          width: 2.2rem;
        }
        a {color: $vert-fonce;}
      }

      &-login a {
        color: $vert-clair;
        text-transform: uppercase;
      }

      &-donate a {
        font-weight: $light;
        letter-spacing: 0;
      }

      &-search a {
        .header-links-item-text {
          align-items: center;
          background-color: $vert-clair;
          border: 0;
          color: $blanc;
          display: flex;
          fill: $blanc;
          height: 3.2rem;
          justify-content: center;
          padding: 0;
          width: 3.4rem;
        }

        .icon {
          height: 1.2rem;
          width: 1.2rem;
        }
      }
    }
  }

  &-nav-usecases {
    font-size: 0; // cache les espaces entre éléments dans le code HTML
    padding-top: $height-fixed;
    margin: 0 auto;
    width: 100rem;

    &-items {
      list-style: none;
      margin: 0;
      padding: 1.9rem 0;
      text-align: center;

      .menu-item {
        display: inline-block;
        overflow: hidden;
        position: relative;
        width: 25%;

        &:first-child a {
          border-left: 0.1rem solid transparentize($taupe, 0.8);
        }

        &:before {
          border-radius: 50%;
          content: "";
          display: block;
          height: 0;
          left: 50%;
          opacity: 0.8;
          position: absolute;
          top: 30%;
          transform: translate3d(-50%, -50%, 0);
          width: 0;
          z-index: 0;
        }

        &:hover {
          &:before {
            height: 30rem;
            opacity: 0;
            transition: opacity 0.8s ease, height 0.8s ease, width 0.8s ease;
            width: 30rem;
          }
        }
      }

      a {
        align-items: flex-end;
        background: transparent top center no-repeat;
        background-size: 4.6rem;
        border-right: 0.1rem solid transparentize($taupe, 0.8);
        color: $gris33;
        display: flex;
        font-family: $ubuntu;
        font-size: 1.5rem;
        font-weight: $regular;
        height: 7.2rem;
        justify-content: center;
        position: relative;
        padding: 0 4rem;
        text-decoration: none;
        transition: color 0.2s ease;
      }

      .menu-item.identifier {
        &:before {background-color: $vert-tres-clair;}
        a {background-image: url('../../modules/header/icons/identifier.svg');}
        &.current_page_item a, a:hover, a:focus {color: $vert-fonce;}
      }
      .menu-item.apprendre {
        &:before {background-color: $violet-clair;}
        a {background-image: url('../../modules/header/icons/apprendre.svg');}
        &.current_page_item a, a:hover, a:focus {color: $violet;}
      }
      .menu-item.sortir {
        &:before {background-color: $orange-clair;}
        a {background-image: url('../../modules/header/icons/sortir.svg');}
        &.current_page_item a, a:hover, a:focus {color: $orange;}
      }
      .menu-item.participer {
        &:before {background-color: $bleu-clair;}
        a {background-image: url('../../modules/header/icons/participer.svg');}
        &.current_page_item a, a:hover, a:focus {color: $turquoise-fonce;}
      }
    }
  }
}
