.project-members {

    > .layout-wrapper {
        margin-top: 2rem;
    }

    .item-list {
        list-style: none;
    }

    .item-list-tabs > ul {
        list-style: none;
        padding: 0;

        > li {
            display: inline-block;
        }
    }

    #group_members-order-select {
        margin-top: 1.2rem;
        margin-left: 2rem;
    }

    .group_members.dir-list {
        > .pagination {
            border-top: none;
            margin-top: 2rem;
        }
    }
}