.suggest-news-form.acf-form {
	input,
	textarea {
		border: 0.1rem solid $gris-e5;
	}

	textarea {
		padding: 1rem;
	}

	.acf-fields > .acf-field {
		padding: 2rem 0;
	}

	.acf-label {
		.description {
			color: $gris-60;
			font-size: 1.4rem;
		}
	}

	.acf-field--post-title input {
		font-size: 2rem;
		height: auto;
		padding: 1rem;
	}

	.acf-form-submit {
		text-align: center;
	}

}
