@import "../../modules/header/_variables";

.component-title {
  $title-anchor-offset: 4rem;

  color: $gris-23;
  font-family: $ubuntu;
  position: relative;

  & + & {margin-top: 0;}

  &-anchor {
    display: block;
    height: 0;
    margin-top: -1 * ($header-height-fixed + $title-anchor-offset); // offset for fixed header
    position: absolute;
    top: 0;
    visibility: hidden;

    body.admin-bar & {
      margin-top: -1 * ($header-height-fixed + $title-anchor-offset + $header-admin-bar-height);
    }
  }

  h2,
  h3,
  h4 {
    line-height: 1.25;
  }

  h2 {
    font-weight: $bold;
    margin: 0;
    position: relative;

    &::before {
      background-color: $vert-clair-vif;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      left: -5rem;
      width: 0.4rem;
    }
  }

  h3 {
    font-weight: $light;
    margin: 0;
  }

  h4 {
    font-weight: $light;
    margin: 0;
  }

  &:first-child {margin-top: 0;}

  @include small {
    margin: 2rem 0 1rem;

    .component + & {margin-top: 2rem;}

    + .component-text,
    + .component-intro {margin-top: 1rem;}

    &.level-2 {
      margin-top: 4rem;
    }

    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.8rem;
    }

    h4 {
      font-size: 1.6rem;
    }
  }

  @include large-and-medium {
    margin: 4rem 0 2rem;

    .component + & {margin-top: 4rem;}

    + .component-text,
    + .component-intro {margin-top: 2rem;}

    &.level-2 {
      margin-top: 6rem;
    }

    h2 {
      font-size: 2.6rem;
    }

    h3 {
      font-size: 2.4rem;
    }

    h4 {
      font-size: 2rem;
    }
  }
}
