.component-links {
  &-title {
    color: $gris-33;
    font-family: $ubuntu;
    font-weight: $light;
    line-height: 1.3;
    margin: 0 0 1rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li + li {
    margin-top: 0.2rem;
  }

  a {
    background-color: transparentize($turquoise, 0.9);
    color: $gris-33;
    display: block;
    font-family: $ubuntu;
    font-weight: $regular;
    line-height: 1.8rem;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: background 0.2s ease;

    .icon {
      fill: $turquoise;
      left: 1.5rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 1.2rem;
    }

    &:hover,
    &:focus {
      background-color: transparentize($turquoise, 0.8);

      &::before {
        color: $gris-33;
      }
    }
  }

  &-metadata {
    color: $turquoise-fonce;
    font-size: 1.4rem;
  }

  @include small {
    &-title {
      font-size: 1.8rem;
    }

    a {
      padding: 1rem;
      padding-left: 4rem;
    }

    &-metadata {
      margin-left: 1rem;
    }
  }

  @include large-and-medium {
    &-title {
      font-size: 2rem;
    }

    a {
      padding: 1rem 13rem 1rem 4rem;
    }

    &-metadata {
      position: absolute;
      right: 2rem;
      top: 1rem;
      white-space: nowrap;
    }
  }
}
