.block-main-features {
  &-title {
    color: $gris-33;
    font-family: $ubuntu;
    font-size: 3.2rem;
    font-weight: $light;
    line-height: 3.6rem;
    margin: 0 0 7rem;
    text-align: center;
  }

  &-items {
    @include reset-list;
    text-align: center;
  }

  &-item {
    overflow: hidden;
  }

  &-item-icon {
    align-items: center;
    display: flex;
    fill: $vert-bouton;
    height: 4rem;
    justify-content: center;

    img {
      max-height: 4rem;
      max-width: 4rem;
    }

    svg {
      height: 4rem;
      width: 4rem;
    }
  }

  &-item-title {
    color: $gris-33;
    font-family: $ubuntu;
    font-weight: $bold;
    margin-top: 0;
  }

  &-item-description {
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin: 0 auto;
    max-width: 20rem;

    a {
      border-bottom: 0.1rem solid;
      color: $turquoise-fonce;
      font-weight: $regular;
      text-decoration: none;
      transition: background 0.2s ease;

      &:hover,
      &:focus {
        background-color: transparentize($turquoise-fonce, 0.9);
      }
    }
  }

  @include small {
    padding-bottom: 5rem;
    padding-top: 5rem;

    > .layout-wrapper {
      margin: 0;
    }

    &-item {
      & + & {
        margin-top: 4rem;
      }
    }

    &-item-title {
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }

    &-item-icon {
      margin-bottom: 1rem;
    }
  }

  @include large-and-medium {
    padding-bottom: 5rem;
    padding-top: 5rem;

    &-items {
      align-content: flex-start;
      display: flex;
    }

    &-item {
      padding: 1.5rem 3rem;
      width: 50%;

      & + & {
        border-left: 0.1rem solid $gris-f0;
      }
    }

    &-item-title {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }

    &-item-icon {
      margin-bottom: 3rem;
    }
  }
}
