.component-intro {
  color: $gris-33;
  font-weight: $regular;
  line-height: 1.7;

  p {
    margin: 0 0 2rem;
  }

  a {
    border-bottom: 0.1rem solid;
    color: $turquoise-fonce;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: transparentize($turquoise-fonce, 0.9);
    }
  }

  @include small {
    font-size: 1.4rem;
  }

  @include large-and-medium {
    font-size: 1.8rem;
  }
}
