.component-intro {
  color: $gris33;
  font-size: 1.8rem;
  font-weight: $regular;
  line-height: 3rem;

  p {
    margin: 0 0 2rem;
  }

  a {
    border-bottom: 0.1rem solid;
    color: $turquoise-fonce;
    text-decoration: none;

    &:hover, &:focus {
      background-color: transparentize($turquoise-fonce, 0.9);
    }
  }
}
