.block-maps {
  padding: 0;

  @include small {
    .layout-wrapper {
      margin: 0;
    }

    .layout-content {
      display: none;
    }

    padding-bottom: 3rem;
  }

  @include large-and-medium {
    > .layout-content-col {
      position: relative;
    }

    iframe {
      border: 0;
      height: 100%;
      left: 0;
      position: absolute;
      width: calc(100% - 78rem);
    }
  }
}
