.article {
  &-title {
    font-family: $ubuntu;
    font-weight: $bold;
    line-height: 1.4;
    margin: 0;

    a {
      border-bottom: 0.2rem solid transparent;
      color: $gris-23;
      text-decoration: none;
      transition: border 0.2s ease;

      &:hover,
      &:focus {
        border-bottom-color: $gris-23;
      }
    }

    .icon {
      height: 1.2rem;
      margin-left: 0.5rem;
      width: 1.2rem;
    }
  }

  &-thumbnail {
    float: right;
    margin-left: 2.5rem;
  }

  &-image {
    display: block;

    img {display: block;}
  }

  // margin-top lorsque précédé de breadcrumbs
  .breadcrumbs + & {
    margin-top: 3rem;
  }

  & + & {
    border-top: 0.1rem solid $gris-dd;
    margin-top: 2.5rem;
    padding-top: 2.5rem;
  }

  .component-title,
  .component-text {
    h2 {
      color: $gris-33;
      font-weight: $light;
    }
  }

  &.is-small {
    display: flex;
    overflow: hidden;

    .article-title {
      font-size: 1.9rem;
      line-height: 2.8rem;
      margin-bottom: 0;
    }

    .article-thumbnail {
      background: center center no-repeat;
      background-size: cover;
      border-radius: 50%;
      float: left;
      margin: 0;
      overflow: hidden;
    }
  }

  @include small {
    &-title {
      font-size: 1.65rem;
      margin-bottom: 1rem;
    }

    &-image,
    .component-intro {
      margin-bottom: 1.5rem;
    }

    &.is-small {
      .article-thumbnail {
        height: 6rem;
        margin-right: 1.5rem;
        min-width: 6rem;
      }
    }
  }

  @include large-and-medium {
    &-title {
      font-size: 2.6rem;
      margin-bottom: 2rem;
    }

    &-image,
    .component-intro {
      margin-bottom: 3rem;
    }

    &.is-small {
      align-items: center;

      .article-thumbnail {
        height: 10rem;
        margin-right: 2.5rem;
        min-width: 10rem;
      }
    }
  }
}
