.article {
	margin: 5rem auto;
	max-width: 70rem;

	&-title {
		font-family: $ubuntu;
		font-size: 2.6rem;
		font-weight: $bold;
		line-height: 3.6rem;
		margin: 0 0 3rem;

		a {
			border-bottom: 0.2rem solid transparent;
			color: $gris23;
			text-decoration: none;
			transition: border 0.2s ease;

			&:hover,
			&:focus {
				border-bottom-color: $gris23;
			}
		}
	}

	// moins de margin-top lorsque précédé de breadcrumbs
	.breadcrumbs + & {
		margin-top: 3rem;
	}
}
