.article {

	&-title {
		font-family: $ubuntu;
		font-size: 2.6rem;
		font-weight: $bold;
		line-height: 3.6rem;
		margin: 0 0 2rem;

		a {
			border-bottom: 0.2rem solid transparent;
			color: $gris23;
			text-decoration: none;
			transition: border 0.2s ease;

			&:hover,
			&:focus {
				border-bottom-color: $gris23;
			}
		}
	}

	&-image,
	> .component-intro {
		margin-bottom: 3rem;
	}

	&-image {
		display: block;

		img {display: block;}
	}

	&-thumbnail {
		float: right;
		margin-left: 2rem;
	}

	// moins de margin-top lorsque précédé de breadcrumbs
	.breadcrumbs + & {
		margin-top: 3rem;
	}

	.component-title,
	.component-text {
		h2 {
			color: $gris33;
			font-weight: $light;
		}
	}
}
