.categories {
  font-family: $ubuntu;

  &-items,
  &-subitems {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-item.is-active .categories-item-link:before,
  &-item .categories-item-link:hover:before,
  &-item .categories-item-link:focus:before {
    content: "▶";
    display: block;
    font-size: 1rem;
    line-height: 2rem;
    margin-left: -2rem;
    position: absolute;
  }

  &-item {
    border-bottom: 0.1rem solid transparentize($gris-dd, 0.5);

    &.is-active .categories-item-link {
      color: $gris-23;
      fill: $gris-23;
      &:before {color: $vert-clair;}
    }

    &-title {
      font-size: 1.55rem;
      font-weight: $bold;

      .icon {
        margin-right: 0.5rem;
        vertical-align: top;
        transform: translateY(0.2rem);
        width: 1.8rem;
      }
    }

    &-link {
      color: $marron-gris;
      fill: $marron-gris;
      text-decoration: none;

      &:hover, &:focus {
        &:before {
          color: $taupe;
        }
      }
    }
  }

  &-subitems {
    padding-bottom: 2rem;
  }

  &-subitem {
    &.is-active {
      .categories-subitem-link {
        background-color: $taupe;
        border-color: $taupe;
        color: $blanc;
      }
    }

    &-link {
      border: 0.2rem solid;
      border-radius: 1.6rem;
      color: $taupe;
      display: inline-block;
      font-size: 1.4rem;
      font-weight: $medium;
      padding: 0.5rem 1.5rem;
      text-decoration: none;
      transition: all 0.2s ease;

      &:hover, &:focus {
        color: $gris-33;
      }
    }

    & + & {
      margin-top: 0.7rem;
    }
  }

}
