.block-dashboard {

  & + & {
    margin-top: 3.5rem;
  }

  > .title {
    padding-bottom: 0.5rem;
    padding-top: 0;
  }

  &-content {
    background-color: $blanc;
    min-height: 20rem;
  }

  &-footer {
    padding: 1.5rem;
    text-align: center;
  }

  &.is-empty {

    .block-dashboard-content {
      align-items: center;
      color: $gris-aa;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      > .icon {
        fill: $gris-aa;
        height: 4rem;
        width: 4rem;
        margin-bottom: 0.5rem;
      }
    }

  }

  &.transparent-content {
    .block-dashboard-content {
      background: transparent;
    }
  }

  &-empty-text {
    font-style: italic;
    margin-bottom: 2.5rem;
  }

}
