.column-features {

	&-items {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&-item {
		padding: 1.5rem 0;

		& + & {
			border-top: 0.1rem solid transparentize($taupe, 0.8);
		}

		&-link {
			color: $gris33;
			display: block;
			font-size: 1.4rem;
			line-height: 2.2rem;
			text-decoration: none;

			&:hover,
			&:focus {
				.column-features-item-title span {border-bottom-color: $gris23;}
			}
		}

		&-icon {
			align-items: center;
			display: flex;
			float: left;
			justify-content: center;
			height: 5rem;
			position: relative;
			width: 5rem;

			img {
				max-height: 2.4rem;
				max-width: 2.4rem;
			}

			svg {
				height: 2.4rem;
				width: 2.4rem;
			}

			&:after {
				background-color: currentColor;
				border-radius: 0.4rem;
				content: "";
				display: block;
				height: 100%;
				left: 0;
				opacity: 0.2;
				position: absolute;
				top: 0;
				transition: opacity 0.2s ease;
				width: 100%;
			}
		}

		&-title {
			color: $gris23;
			font-family: $ubuntu;
			font-size: 1.9rem;
			font-weight: $bold;
			line-height: 2.6rem;
			margin: 0 0 0.7rem;

			span {
				border-bottom: 0.2rem solid transparent;
				transition: border 0.2s ease;
			}
		}

		&-icon ~ &-title,
		&-icon ~ &-text {
			margin-left: 7rem;
		}
	}

}
