.layout-central-col {
  > .layout-wrapper {
    margin: 4rem auto;
    position: relative;
    width: 120rem;

    > .layout-aside {
      left: 0;
      position: absolute;
      width: 18rem;
    }

    > .layout-content {
      margin: 0 auto;
      width: 70rem;
    }
  }

	// Larger width
	&.is-wide {
		> .layout-wrapper {
			> .layout-content {
				width: 100rem;
			}
		}
	}

	// No margin on top
	&.adjacent-top {
		> .layout-wrapper {
			margin-top: 0;
		}
	}

  &.background-beige {
    background-color: $beige2;
		overflow: hidden;
  }

}
