.layout-col-centrale {
  > .layout-wrapper {
    margin: 4rem auto;
    position: relative;
    width: 120rem;

    > .layout-annexe {
      left: 0;
      position: absolute;
      width: 18rem;
    }

    > .layout-contenu {
      margin: 0 auto;
      width: 70rem;
    }
  }
}
