.layout-content-col {
	> .layout-wrapper {
		> .layout-column {
			background-color: $beige;
			position: relative;

			.layout-column-item {
				margin-bottom: 3rem;

				&:last-child {
					margin-bottom: 0;
				}

				&.background-white {
					background-color: $blanc;
				}

				&.with-shadow {
					box-shadow: -0.6rem 0.6rem 0 0 transparentize($taupe, 0.9);
					position: relative;
				}

				&.with-padding {
					padding: 2rem;
				}
			}
		}
	}

	// Pleine largeur
	&.full-width {
		> .layout-wrapper {
			width: 100%;

			> .layout-column {
				flex: 0 0 36rem;
				padding-left: 5rem;
				padding-right: 5rem;
				width: 36rem;

				&:before {display: none;}

				.button-top {
					text-align: center;
				}
			}

			> .layout-content {
				margin-left: 0;
				padding: 0 5rem;
			}
		}
	}

	// Inversion des colonnes (contenu à gauche et colonne à droite)
	&.reversed {
		// cf. ci-dessous dans media query
	}

	// Inversion des couleurs des colonnes
	&.reversed-colors {
		background-color: $gris-f4;

		> .layout-wrapper {
			> .layout-column {
				background-color: $blanc;

				&:before {
					background-color: $blanc;
				}
			}
			> .layout-content {
				background-color: $gris-f4;
			}
		}
	}

	// Tableau de bord
	&.is-dashboard {
		> .layout-wrapper {
			width: 100%;

			> .layout-column {
				flex: 0 0 26rem;
				padding: 0;
				width: 26rem;

				&:before {display: none;}

				> * {height: 100%;}
			}

			> .layout-content {
				margin-left: auto;
				margin-right: auto;
				max-width: 112rem;
				padding: 4rem 6rem;
			}
		}
	}

	@include small {
		&.reversed {
			> .layout-wrapper {
				> .layout-column {
					margin: 2rem -2rem 0;
					padding: 0 2rem;
				}
			}
		}
	}

	@include large-and-medium {
		> .layout-wrapper {
			display: flex;

			> .layout-column {
				float: left;
				flex: 0 0 33rem;
				position: relative;
				padding-bottom: 5.5rem;
				padding-right: 3rem;
				width: 33rem;

				&:before {
					background-color: $beige;
					bottom: 0;
					content: "";
					display: block;
					position: absolute;
					right: 100%;
					top: 0;
					width: 100rem;
				}
			}

			> .layout-content {
				flex: 1;
				float: right;
				margin-left: 5rem;
				padding-bottom: 5rem;
				width: 62rem;
			}
		}

		&.reversed {
			> .layout-wrapper {
				> .layout-column {
					float: right;
					padding-left: 3rem;
					padding-right: 0;

					&:before {
						left: 100%;
						right: auto;
					}
				}

				> .layout-content {
					float: right;
					margin-left: 0;
					margin-right: 5rem;
				}
			}
		}
	}
}
