.layout-full-width {
  > .layout-wrapper {
    position: relative;
  }

  .layout-components {
    margin: 0 auto;
    overflow: hidden;

    > *:first-child {
      margin-top: 0;
    }
  }

  &.background-beige {
    background-color: $beige2;
  }

  @include small {
    .layout-components {
      padding: 4rem 0;
    }
  }

  @include large-and-medium {
    .layout-components {
      max-width: 70rem;
      padding: 10rem 0;
    }
  }
}
