.layout-left-col {
  > .layout-wrapper {
    display: flex;

    > .layout-column {
      background-color: $beige;
      float: left;
      flex: 0 0 33rem;
      position: relative;
      padding-right: 3rem;
      width: 33rem;

      &:before {
        background-color: $beige;
        bottom: 0;
        content: "";
        display: block;
        position: absolute;
        right: 100%;
        top: 0;
        width: 100rem;
      }

      .layout-column-item {
        margin-bottom: 3rem;

        &.background-white {
          background-color: $blanc;
          .form-newsletter-email {background-color: $grisF0;}
        }

        &.with-shadow {
          box-shadow: -0.6rem 0.6rem 0 0 transparentize($taupe, 0.9);
          position: relative;
        }

        &.with-padding {
          padding: 2rem;
        }
      }
    }

    > .layout-content {
      float: right;
      margin-left: 5rem;
      flex: 1;
      width: 62rem;
    }
  }

  // Pleine largeur
  &.full-width {
    > .layout-wrapper {
      width: 100%;

      > .layout-column {
        background-color: $blanc;
        flex: 0 0 36rem;
        padding: 0 5rem;
        width: 36rem;

        &:before {display: none;}
      }

      > .layout-content {
        background-color: $grisF4;
        margin-left: 0;
        padding: 0 5rem;
      }
    }
  }
}
