.search-hit {
  border-bottom: 0.1rem solid $gris-dd;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;

  em {
    background-color: $jaune-clair;
    color: $noir;
    font-style: normal;
  }

  &-title {
    font-family: $ubuntu;
    font-size: 1.75rem;
    font-weight: $bold;
    margin: 0;

    &,
    a {
      color: $gris-23;
    }

    a {
      text-decoration: none;
      transition: background-color 0.2s ease, color 0.2s ease;

      &:hover {color: $turquoise-fonce;}
    }

    &-suffix {
      font-size: 1.6rem;
      font-weight: normal;
      margin-left: 0.5rem;
    }

    .search-hit-tag {
      float: right;
      margin-left: 1rem;
      vertical-align: bottom;

      &,
      &:hover {
        color: $blanc;
      }
    }
  }

  &-tag {
    background-color: $vert-bouton;
    border-radius: 0.2rem;
    color: $blanc;
    display: inline-block;
    font-size: 1.25rem;
    padding: 0.25rem 0.5rem;

    &:link:hover {background-color: $vert-fonce;}

    &-bdtfx {background-color: $vert-bouton;}
    &-bdtfx:link:hover {background-color: darken($vert-bouton, 10);}
    &-bdtxa {background-color: $orange;}
    &-bdtxa:link:hover {background-color: darken($orange, 10);}
    &-isfan {background-color: $violet;}
    &-isfan:link:hover {background-color: darken($violet, 10);}
    &-apd {background-color: $turquoise;}
    &-apd:link:hover {background-color: darken($turquoise, 10);}
  }

  &-image {
    border: 0.1rem solid $gris-dd;
    border-radius: 0.4rem;
    height: 10rem;
    margin-right: 0.5rem;
    margin-top: 0.3rem;
  }

  &-images {
    display: flex;
  }

  &-text {
    font-weight: bold;
  }

  &-synonyms {
    @include reset-list;
    color: $gris-60;
    font-size: 1.2rem;
  }

  &-content {
    font-weight: 300;

    a {
      border-bottom: 0.1rem solid;
      color: $turquoise-fonce;
      font-weight: $regular;
      text-decoration: none;
      transition: background 0.2s ease;

      &:hover,
      &:focus {
        background-color: transparentize($turquoise-fonce, 0.9);
      }
    }
  }

  &-text,
  &-synonyms,
  &-content {
    line-height: 1.4;
    margin-top: 0.4rem;
  }
}
