.component-text {
  color: $gris-33;
  line-height: 2.4rem;

  p {
    margin: 0 0 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    border-bottom: 0.1rem solid;
    color: $turquoise-fonce;
    font-weight: $regular;
    text-decoration: none;
    transition: background 0.2s ease;

    &:hover,
    &:focus {
      background-color: transparentize($turquoise-fonce, 0.9);
    }

    &.logo {
      border: 0;
      display: inline-block;
      filter: grayscale(1);
      transition: all 0.2s ease;

      img {
        vertical-align: middle;
        width: 15rem;
      }

      &:hover,
      &:focus {
        background-color: transparent;
        filter: none;
      }
    }
  }

  b, strong {font-weight: $bold;}

  table {
    border-collapse: collapse;

    th,
    td {
      border: 0.1rem solid $gris-dd;
      padding: 0.5rem;
    }
  }

  @include small {
    figure {
      margin: 2rem 0;
    }

    figure > img,
    iframe {
      max-width: 100%;
    }
  }

  @include large-and-medium {
    figure {
      margin: 1rem 4rem;
    }
  }
}
