.component-text {
	color: $gris33;
	line-height: 2.4rem;

	p {
		margin: 0 0 2rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	a {
		border-bottom: 0.1rem solid;
		color: $turquoise-fonce;
		font-weight: $regular;
		text-decoration: none;
		transition: background 0.2s ease;

		&:hover, &:focus {
			background-color: transparentize($turquoise-fonce, 0.9);
		}
	}

	b, strong {font-weight: $bold;}

	table {
		border-collapse: collapse;

		th,
		td {
			border: 0.1rem solid $grisDD;
			padding: 0.5rem;
		}
	}
}
