.component-embed {
  height: 0;
  height: auto;
  margin: 0 0 2rem;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
	position: relative;

	iframe,
	object,
	embed {
    border: 0;
    height: 100%;
    left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

}
