.card-project {
	background-color: $blanc;
	height: 42.5rem;
	position: relative;
	width: 30rem;

	&.with-large-cover {
		.card-project-cover {
			height: 22rem;
		}
	}

	em {
		color: $noir;
		background: $jaune-clair;
		font-style: normal;
	}

	&-link {
		color: $gris33;
		display: block;
		text-decoration: none;

		&:hover, &:focus {
			.card-project-title span {
				border-bottom-color: currentColor;
			}
			.card-project-description {
				color: $gris60;
			}
		}
	}

	&-cover {
		align-items: center;
		background: $grisF0 center center no-repeat;
		background-size: cover;
		display: flex;
		height: 17rem;
		justify-content: center;
		position: relative;
	}

	&-avatar {
		border-radius: 50%;
		border: 0.3rem solid white;
		height: 9rem;
		width: 9rem;
	}

	&-tela {
		background: $blanc;
		border-bottom-right-radius: 2rem;
		fill: $green-button;
		height: 4.2rem;
		left: 0;
		padding: 0.8rem 1.3rem 1.2rem 1rem;
		position: absolute;
		top: 0;
		width: 4.5rem;

		.icon {
			height: 2.2rem;
			width: 2.2rem;
		}
	}

	&-content,
	&-meta {
		padding: 2rem;
	}

	&-title {
		font-family: $ubuntu;
		font-size: 1.8rem;
		font-weight: $bold;
		margin: 0;

		span {
			border-bottom: 0.2rem solid transparent;
			transition: border 0.2s ease;
		}
	}

	&-description {
		font-size: 1.4rem;
		line-height: 2.2rem;
		margin: 1.5rem 0;

		p {margin: 0;}
	}

	&-meta {
		bottom: 0;
		color: $marron-gris;
		font-size: 1.3rem;
		left: 0;
		line-height: 1.8rem;
		position: absolute;
		width: 100%;

		.icon {
			fill: $green-button;
			height: 1.8rem;
			margin-right: 0.8rem;
			vertical-align: text-top;
			width: 1.8rem;
		}
	}
}
