// Couleurs
$vert-clair      : #b2cb43;
$vert-clair-vif  : #c3d45d;
$vert-tres-clair : #e9f2b7;
$vert-bouton     : #a2b93b;
$vert-moyen      : #88a842;
$vert-fonce      : #6c7b0f;
$vert-archi-clair : #f3f7de;
$beige           : #fcfaf5;
$beige2          : #f8f5ef;
$rouge           : #ff5d55;
$orange          : #e16e38;
$orange-clair    : #f9e2d7;
$orange-moyen    : #fb0;
$jaune-clair     : #fefac0;
$taupe           : #918a6f;
$marron          : #72654f;
$marron-fonce    : #413d38;
$marron-gris     : #5d5a4c;
$violet          : #964e75;
$violet-clair    : #fce3f1;
$turquoise       : #009fb8;
$turquoise-fonce : #006979;
$turquoise-clair : #ccecf1;
$bleu-clair      : #E9F6F8;
$bleu-nuit       : #152229;
$marron-tres-fonce : #302e2b;

// Nuances de gris
$blanc  : #fff;
$gris-f4 : #f4f4f4;
$gris-f0 : #f0f0f0;
$gris-eb : #ebebeb;
$gris-e5 : #e5e5e5;
$gris-dd : #ddd;
$gris-b3 : #b3b3b3;
$gris-aa : #aaa;
$gris-99 : #999;
$gris-77 : #777;
$gris-60 : #606060;
$gris-44 : #444;
$gris-33 : #333;
$gris-23 : #232323;
$noir   : #000;
