// Couleurs
$vert-clair      : #b2cb43;
$vert-clair-vif  : #c3d45d;
$vert-tres-clair : #e9f2b7;
$vert-bouton     : #a2b93b;
$vert-fonce      : #6c7b0f;
$vert-archi-clair : #f3f7de;
$beige           : #fcfaf5;
$beige2          : #f8f5ef;
$rouge           : #ff5d55;
$orange          : #e16e38;
$orange-clair    : #f9e2d7;
$orange-moyen    : #fb0;
$jaune-clair     : #fefac0;
$taupe           : #918a6f;
$marron          : #72654f;
$marron-fonce    : #413d38;
$marron-gris     : #5d5a4c;
$violet          : #964e75;
$violet-clair    : #fce3f1;
$turquoise       : #009fb8;
$turquoise-fonce : #006979;
$turquoise-clair : #ccecf1;
$bleu-clair      : #E9F6F8;
$bleu-nuit       : #152229;
$marron-tres-fonce : #302e2b;

// Nuances de gris
$blanc  : #fff;
$grisF4 : #f4f4f4;
$grisF0 : #f0f0f0;
$grisEB : #ebebeb;
$grisDD : #ddd;
$grisB3 : #b3b3b3;
$grisAA : #AAAAAA;
$gris77 : #777;
$gris60 : #606060;
$gris44 : #444;
$gris33 : #333;
$gris23 : #232323;
$noir   : #000;
