{% autoescape false %}

================================================




###### Lettre d'information du {{ "now"|localizeddate("none", "none", "fr-FR", null, "d MMMM") }} ######


{{ intro|striptags }}

{% if featured is not empty %}
### À la une ###

* {{ featured.post.post_title }} *

	Le {{ featured.date|localizeddate("none", "none", "fr-FR", null, "d MMMM") }} - par {{ featured.author }}


{% if featured.intro is not empty %}
	{{ featured.intro|striptags }}
{% endif %}

{{ featured.post.post_content|striptags|truncate(500, true) }}

>>>>> Lire l'article : {{ featured.link }}



{% endif %}

{% for category_id, category in categories %}

	{% for subcategory_id, subcategory in attribute(subcategories, category_id) %}

### {{ subcategory }} ###

		{% for item in attribute(attribute(posts, category_id), subcategory_id) %}

			{% if item.event.date %}

* {{ item.post.post_title }} *

{% set date_start = item.event.date|localizeddate("none", "none", "fr-FR", null, "d MMM") %}
{% if item.event.date_end %}
	{% set date_end = item.event.date_end|localizeddate("none", "none", "fr-FR", null, "d MMM") %}

	Du {{ date_start }} au {{ date_end }}
{% else %}

	Le {{ date_start }}
{% endif %}

{{ item.event.place }} - Publié par {{ item.author }}

{{ item.event.details|striptags|truncate(300, true) }}

>>>>> Lire l'article : {{ item.link }}



			{% else %}

* {{ item.post.post_title }} *

Le {{ item.date|localizeddate("none", "none", "fr-FR", null, "d MMMM") }} - par {{ item.author }}

{% if item.intro is not empty %}
	{{ item.intro|striptags }}
{% endif %}

{{ item.post.post_content|striptags|truncate(300, true) }}

>>>>> Lire l'article : {{ item.link }}



			{% endif %}

-----------------------

		{% endfor %}

	{% endfor %}

{% if 'actualites' == category.slug %}
	Toutes les actualités : {{ category.url }}
{% elseif 'evenements' == category.slug %}
	Tous les évènements : {{ category.url }}
{% elseif 'offres-emploi' == category.slug %}
	Toutes les offres d'emploi : {{ category.url }}
{% else %}
	Tous les articles de {{ category.name }} : {{ category.url }}
{% endif %}

================================================

{% endfor %}

{{ outro|striptags }}



================================================
================================================

{% endautoescape %}
