.feed {
  margin: 0 auto;
  max-width: 70rem;

  &-items {
    @include reset-list;
    border-left: 0.2rem dotted $taupe;
    margin-left: 3.8rem;

    > *,
    > .feed-item + .feed-item {
      margin-top: 2rem;
      margin-left: -3.8rem;

      &:first-child {margin-top: 0 !important;}
      &.feed-date {margin-top: 4rem;}
    }
  }

}
