.aa-dropdown-menu {
  /* we set the width in JS */
  font-family: sans-serif;
  color: #1a1a1a;
  font-size: 12px;
  z-index: 999999;
  background-color: #fff;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.35);

  .aa-dropdown-menu-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > * {
      width: 33.33%;
    }
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    min-width: inherit;
    max-width: inherit;
    width: 70%;
  }

  .aa-input,
  .aa-hint {
    width: 100%;
  }
  .aa-hint {color: #999;}

  a {
    font-size: 12px;
    color: #1a1a1a;
    font-weight: normal;
    text-decoration: none;

    &:hover {text-decoration: none;}
  }

  .autocomplete-header {
    margin: 0 14px;
    line-height: 3em;
    border-bottom: 1px solid rgba(0,0,0,.05);

    &-title,
    &-more {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: bold;
    }

    &-title {
      color: $vert-fonce;
      float: left;
    }

    &-more {
      float: right;

      a {
        color: rgba(0,0,0,.3);
        font-weight: bold;
        &:hover {color:  rgba(0,0,0,.4);}
      }
    }
  }

  .aa-suggestion {
    padding: 5px 0;

    &:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }

    em {
      color: #174d8c;
      background: rgba(143,187,237,.1);
      font-style: normal;
    }

    .suggestion-post-title {
      font-weight: bold;
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .suggestion-post-content {
      color: #63676d;
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      em {
        padding: 0 0 1px;
        background: inherit;
        box-shadow: inset 0 -2px 0 0 rgba(69,142,225,.8);
        color: inherit;
      }
    }

    &.aa-cursor {background-color: #f9f9f9;}
  }

  a.suggestion-link {
    display: block;
    padding: 0 14px;

    &.user-suggestion-link {line-height: 32px;}

    svg {
      vertical-align: middle;
      fill: rgba(0,0,0,.3);
      float: left;
    }
  }

  .suggestion-post-thumbnail {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    width: 32px;
    height: 32px;
  }

  .suggestion-user-thumbnail {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 16px;
    width: 32px;
    height: 32px;
  }

  .autocomplete-footer {
    width: 100%;

    &-branding {
      padding: 15px 14px 0px;
      float: right;
      color: rgba(0,0,0,.3);
      margin-bottom: 7px;

      .algolia-logo {
        width: 55px;
        vertical-align: top;
      }
    }
  }

  .clear {
    clear: both;
  }

  .autocomplete-empty {
    clear: both;
    padding: 15px;

    .empty-query {font-weight: bold;}
  }
}
