.aa-dropdown-menu {
  /* we set the width in JS */
  color: #1a1a1a;
  font-size: 1.2rem;
  z-index: 999999;
  background-color: #fff;
  border-top: none;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,.25),0 0 0.1rem rgba(0,0,0,.35);

  .aa-dropdown-menu-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > .aa-dataset {
      margin-bottom: 2rem;
      position: relative;
      width: 33.33%;

      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
      }

      &:before {
        border-top: 0.1rem solid $grisEB;
        height: 0;
        left: 2.5rem;
        top: 0;
        width: calc(100% - 5rem);
      }

      &:after {
        border-right: 0.1rem solid $grisEB;
        height: calc(100% - 2.5rem);
        right: 0;
        top: 2.5rem;
        width: 0;
      }

      &:nth-child(1):before,
      &:nth-child(2):before,
      &:nth-child(3):before,
      &:nth-child(3n):after {display: none;}
    }
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    min-width: inherit;
    max-width: inherit;
    width: 70%;
  }

  .aa-input,
  .aa-hint {
    width: 100%;
  }
  .aa-hint {color: #999;}

  a {
    font-size: 1.2rem;
    color: #1a1a1a;
    font-weight: normal;
    text-decoration: none;

    &:hover {text-decoration: none;}
  }

  .autocomplete-header {
    display: block;
    font-family: $ubuntu;
    font-weight: $regular;
    line-height: 2.2rem;
    margin: 2.5rem 2.5rem 1.5rem;
    overflow: hidden;

    &-title,
    &-count {
      font-size: 1.4rem;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
    }

    &-title {
      color: $vert-fonce;
      float: left;
      margin-right: 0.5rem;
    }

    &-count {
      color: $orange;
      float: left;
    }

    &-more {
      border: 0.1rem solid $marron;
      border-radius: 1.2rem;
      color: $marron;
      float: right;
      font-size: 1.2rem;
      line-height: 2.2rem;
      padding: 0 1rem;
    }

    &:hover {
      .autocomplete-header-more {
        border-color: $marron-fonce;
        color: $marron-fonce;
      }
    }
  }

  .aa-suggestion {
    padding: 0.5rem 0;

    &:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }

    em {
      color: $noir;
      background: $jaune-clair;
      font-style: normal;
    }

    .suggestion-post-title {
      color: $gris23;
      display: block;
      font-family: $ubuntu;
      font-size: 1.4rem;
      font-weight: $bold;
      margin-bottom: 0.2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .suggestion-post-content {
      color: $gris44;
      display: block;
      font-size: 1.3rem;

      em {
        color: $noir;
        background: $jaune-clair;
        padding: 0 0 0.1rem;
      }
    }
    .suggestion-post-attributes .suggestion-post-content {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.aa-cursor {background-color: #f9f9f9;}
  }

  a.suggestion-link {
    display: block;
    padding: 0 2.5rem;

    &.user-suggestion-link {line-height: 3.2rem;}

    svg {
      vertical-align: middle;
      fill: rgba(0,0,0,.3);
      float: left;
    }
  }

  .suggestion-post-thumbnail {
    float: left;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.3rem;
    width: 3.2rem;
    height: 3.2rem;
  }

  .suggestion-group-thumbnail,
  .suggestion-user-thumbnail {
    float: left;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 2.6rem;
    width: 5.2rem;
    height: 5.2rem;
  }

  .autocomplete-footer {
    width: 100%;

    &-branding {
      padding: 1.5rem 1.4rem 0;
      float: right;
      color: rgba(0,0,0,.3);
      margin-bottom: 0.7rem;

      .algolia-logo {
        width: 5.5rem;
        vertical-align: top;
      }
    }
  }

  .clear {
    clear: both;
  }

  .autocomplete-empty {
    color: $grisAA;
    font-size: 1.3rem;
    clear: both;
    padding: 0 2.5rem 2.5rem;

    .empty-query {font-weight: bold;}
  }
}
