.aa-dropdown-menu {
  // we set the width in JS
  background-color: $blanc;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  border-top: 0;
  box-shadow: 0 0.1rem 0.2rem rgba($noir, 0.25), 0 0 0.1rem rgba($noir, 0.35);
  color: $gris-23;
  font-size: 1.2rem;
  z-index: 999999;

  @media only screen and (max-width: 768px) {
    // For mobile phones:
    max-width: inherit;
    min-width: inherit;
    width: 70%;
  }

  .aa-input,
  .aa-hint {
    width: 100%;
  }

  .aa-hint {color: $gris-60;}

  .clear {
    clear: both;
  }
}

.search-box {
  &-wrapper {
    display: flex;
    height: 5.7rem;
    justify-content: space-between;
    width: 100%;
  }

  // modifiers
  &.tiny {
    height: 3.2rem;

    .search-box-wrapper {
      height: 3.2rem;
    }

    .search-box-input {
      background-color: $gris-f4;
      padding: 0;
      transition: width 0.3s ease;
      width: 0;
    }

    .search-box-button {
      align-items: center;
      border-radius: 0;
      display: flex;
      justify-content: center;
      padding: 0;
      width: 3.4rem;

      .icon {
        height: 1.2rem;
        width: 1.2rem;
      }
    }

    &.is-open {
      .search-box-input {
        padding: 0 0.8rem;
        width: 16rem;
      }
    }
  }

  &.large {
    .search-box-wrapper {
      background-color: transparent;
    }

    .search-box-input {
      background-color: $blanc;
    }

    .search-box-button {
      align-items: center;
      display: flex;
    }

    .aa-dropdown-menu {
      border: 0;
      transform: translateX(-4.5rem);
    }

    .ais-search-box--powered-by {
      bottom: -2.5rem;
      color: transparentize($gris-f0, 0.25);
      font-size: 1.2rem;
      position: absolute;
      right: 0;

      a {
        color: $gris-f0;
        text-decoration: none;
      }

      a:hover {border-bottom: 0.1rem solid;}
    }
  }

  &-input,
  .algolia-autocomplete {
    flex-grow: 1;
  }

  &-input,
  &-button {
    background-color: $blanc;
    border: 0;
    border-radius: 0;
  }

  &-input {
    border-radius: 0;
    border-bottom-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
    color: $gris-23;
    font-family: $muli;
    height: 100%;
    padding: 0.8rem 0 1.2rem;
    padding-left: 2rem;
    width: 100%;
  }

  &-button {
    background-color: $vert-clair;
    border-bottom-right-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    color: $blanc;
    cursor: pointer;
    fill: $blanc;
    padding: 0 2rem;
  }

  &-suggestions {
    color: transparentize($gris-f0, 0.25);
    line-height: 1.4;

    a {
      color: inherit;
      text-decoration: underline;

      &:hover,
      &:focus {
        color: $blanc;
        text-decoration: none;
      }
    }
  }

  @include small {
    &.large {
      .search-box-wrapper {
        height: 3.6rem;
      }

      .search-box-input {
        border-bottom-left-radius: 0.2rem;
        border-top-left-radius: 0.2rem;
        font-size: 1.2rem;
        overflow: hidden;
        padding-left: 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .search-box-button {
        font-size: 2rem;
        padding: 0 1rem;
      }
    }

    &-suggestions {
      font-size: 1.3rem;
      margin-top: 1rem;
    }
  }

  @include large-and-medium {
    &.tiny {
      .search-box-input {
        font-size: 1.2rem;
      }
    }

    &.large {
      .search-box-wrapper {
        height: 5.6rem;
      }

      .search-box-input {
        font-size: 1.8rem;
      }

      .search-box-button {
        color: $blanc;
        font-size: 2.7rem;
      }

      .aa-dropdown-menu {
        width: 62.5rem;
      }
    }

    &-suggestions {
      margin-top: 2rem;
    }
  }

}

// instantsearch
.ais-infinite-hits {
  &--showmore {
    text-align: center;

    button {
      @extend .button;
    }

    // Hide instantsearch infiniteHits button when disabled
    button[disabled] {
      display: none;
    }
  }
}
