.notice-cookies {
  background: $vert-moyen;
  bottom: 0;
  color: $blanc;
  // hidden by default, shown if needed using JS
  display: none;
  font-family: $ubuntu;
  font-size: 1.6rem;
  font-weight: $regular;
  left: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1001;

  &-text {
    line-height: 1.4;
  }

  @include small {
    padding: 0 2rem 2rem;

    &-text {
      border-top: 0.4rem solid $vert-clair-vif;
      font-size: 1.2rem;
      padding-top: 1.5rem;
    }

    &-buttons {
      margin-top: 1rem;
    }
  }

  @include large-and-medium {
    padding: 3rem;

    &-text {
      border-left: 0.4rem solid $vert-clair-vif;
      float: left;
      max-width: 80rem;
      padding-left: 3rem;
    }

    &-buttons {
      float: right;
    }
  }
}
