// We target div to prevent the style
// to apply to body.search-results (class added by Wordpress)
div.search-results {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.search-results {
	// warning: don't apply any style to .search-results directly (see above)

	&-index {
		margin-bottom: 2rem;
		position: relative;
		width: 33.33%;

		&:before,
		&:after {
			content: "";
			display: block;
			position: absolute;
		}

		&:before {
			border-top: 0.1rem solid $grisEB;
			height: 0;
			left: 2.5rem;
			top: 0;
			width: calc(100% - 5rem);
		}

		&:after {
			border-right: 0.1rem solid $grisEB;
			height: calc(100% - 2.5rem);
			right: 0;
			top: 2.5rem;
			width: 0;
		}

		&:nth-child(1):before,
		&:nth-child(2):before,
		&:nth-child(3):before,
		&:nth-child(3n):after {display: none;}

		&.has-more {
			padding-bottom: 4rem;
		}
	}

	&-header {
		display: block;
		font-family: $ubuntu;
		font-weight: $regular;
		line-height: 2.2rem;
		margin: 2.5rem 2.5rem 1.5rem;
		overflow: hidden;

		&-title,
		&-count {
			font-size: 1.4rem;
			letter-spacing: 0.1rem;
			text-transform: uppercase;
		}

		&-title {
			color: $vert-fonce;
			float: left;
			margin-right: 0.5rem;
		}
		&:hover &-title {
			text-decoration: underline;
		}

		&-count {
			color: $orange;
			float: left;
		}

		&-more {
			border: 0.1rem solid $marron;
			border-radius: 1.2rem;
			color: $marron;
			float: right;
			font-size: 1.2rem;
			line-height: 2.2rem;
			padding: 0 1rem;
		}
		&:hover &-more {
			border-color: $marron-fonce;
			color: $marron-fonce;
		}
	}

	&-hit,
	.aa-suggestion {
		&:after {
			visibility: hidden;
			display: block;
			font-size: 0;
			content: " ";
			clear: both;
			height: 0;
		}

		a {
			font-size: 1.2rem;
			color: $gris23;
			font-weight: normal;
			text-decoration: none;

			&:hover {text-decoration: none;}
		}

		em {
			color: $noir;
			background: $jaune-clair;
			font-style: normal;
		}
	}

	&-hit {
		&-link {
			display: block;
			padding: 0.5rem 2.5rem;

			.aa-suggestion.aa-cursor &,
			&:hover {
				background-color: $grisF4;
			}

			svg {
				vertical-align: middle;
				fill: rgba(0,0,0,.3);
				float: left;
			}
		}

		&-post-title {
			color: $gris23;
			display: block;
			font-family: $ubuntu;
			font-size: 1.4rem;
			font-weight: $bold;
			margin-bottom: 0.2rem;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&-post-content {
			color: $gris44;
			display: block;
			font-size: 1.3rem;

			em {
				color: $noir;
				background: $jaune-clair;
				padding: 0 0 0.1rem;
			}
		}

		&-post-attributes &-post-content {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&-post-thumbnail {
			float: left;
			margin-right: 0.5rem;
			margin-bottom: 0.5rem;
			border-radius: 0.3rem;
			width: 3.2rem;
			height: 3.2rem;
		}

		&-group-thumbnail,
		&-user-thumbnail {
			float: left;
			margin-right: 1rem;
			margin-bottom: 0.5rem;
			border-radius: 2.6rem;
			width: 5.2rem;
			height: 5.2rem;
		}
	}

	&-empty {
		color: $grisAA;
		font-size: 1.3rem;
		clear: both;
		padding: 0 2.5rem 2.5rem;

		&-query {font-weight: bold;}
	}

	&-more {
		bottom: 0;
		margin: 1rem auto 0;
		position: absolute;
		text-align: center;
		width: 100%;

		> a {
			border: 0.2rem solid $taupe;
			border-radius: 1.45rem;
			color: $taupe;
			display: inline-block;
			font-size: 1.3rem;
			line-height: 2.5rem;
			padding: 0 1.5rem;
			text-decoration: none;

			&:hover,
			&:focus {
				border-color: $marron-fonce;
				color: $marron-fonce;
			}
		}
	}

	&-footer {
		width: 100%;

		&-branding {
			padding: 1.5rem 1.4rem 0;
			float: right;
			color: rgba(0,0,0,.3);
			margin-bottom: 0.7rem;

			.algolia-logo {
				width: 5.5rem;
				vertical-align: top;
			}
		}
	}

}
